* {
    box-sizing: border-box
}

body {
    background-color:rgb(0, 0, 0)
}

header {
    background-color: aquamarine;
    text-align: center;
}

.titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:3rem
}


.alturauno {
    height: 10vh;
}

.alturados {
    height: 10vh;
}

.alturatres {
    height: 70vh;
}

.alturacuatro {
    height: 55vh;
}


nav {
    background-color: rgb(42, 45, 68);
    text-align: center;
    color: aliceblue;
}

section {
    color: white;
    align-items: center;
    background-color: rgb(42, 45, 68);
    width: 70rem;
}

article {
    background-color: rgb(42, 45, 68);
}

aside {
    background-color: rgb(42, 45, 68);
    color: white;
}

footer {
    background-color: rgb(42, 45, 68);
    text-align: center;
    color: white;
}